*{
    padding: 0;
    margin: 0;
}

html,
body{
    background-color: rgb(209, 229, 225);
    font-size: 18px;
}

h1{
    max-width: 940px;
    font-size: 2.5em;
    font-family: Lato, sans-serif;
    font-weight: 700; /*No llega a ser bold*/
    line-height: 1.1; /*La altura de la linea, para que esten un poco mas separadas*/
    margin: 40px 0; /*40px es el superior/inferior y el 0 es el derecho/izquierdo*/
}

.App{
    min-height: 100vh; /*Altura minima de la aplicacion, va a tomar el 100% de la pantalla verticalmente*/
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.container-principal{
    max-height: 600px;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}